<!-- https://codepen.io/hanabach/pen/xBvJqX -->
<div class="container-fluid footer">

	<div class="row  row-no-gutters">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<ul>
				<li class="col-heading">Subheading</li>
				<li>
					<i class="fa fa-phone" aria-hidden="true"></i>
					<a href="tel:99-999-999-9999">99-999-999-9999</a>
				</li>
				<li>
					<i class="fa fa-mobile" aria-hidden="true"></i>
					<a href="sms:99-999-999-9999">SMS Message</a>
				</li>
				<li>
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<a href="#">Address</a>
				</li>
				<li>
					<i class="fa fa-envelope-square" aria-hidden="true"></i>
					<a href="mailto:someone@yoursite.com?subject=Email Subject line">Email Us</a>
				</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3">
			<ul>
				<li class="col-heading">Subheading</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3">
			<ul>
				<li class="col-heading">Subheading</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3">
			<ul>
				<li class="col-heading">Subheading</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
				<li>
					<a href="#">Link to page</a>
				</li>
			</ul>
		</div>
	</div>
	<!--  end row  -->

	
	<!--  end row  -->

</div>
<!--  end container-fluid  -->
