<!DOCTYPE html>
<html>
<head>
    <title>My Webpage</title>
</head>
{% import "./header.twig" %}
<body>

<ul id="navigation">
    <li>toto</li>
    <li>tata</li>
</ul>

{% block body %}
</body>
{% import "./footer.twig" %}
</html>